@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    background-color: #fafafa !important;
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100%;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile {
    width: 22px;
    background-size: cover;
}
.user-profile img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 10px ;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.5)
}
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}
.right-col{
    padding: 20px;
}

.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-card:first-child .profile-pic{
    width: 70px;
    height: 70px;
}

.profile-card .profile-pic img{
    border: none;
}

.profile-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:12px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}
.comments-link {
    margin: .4rem 0;
    cursor: pointer;
    font-size: .8rem;
    color: gray;
}
.comments-modal{
    /* position: absolute; */
    border-radius: .3rem;
    padding: 1rem;
    position: fixed;
    top: 20px;
    left: 10vw;
    height: 95vh;
    width: 60vw;
    background-color: #fff;
    transition: .2s ease-in-out;
    border: 1px solid rgba(27, 31, 35, 0.20);
}
.user-comment{
    margin-top: 10px;
    margin-left: 10px;
    padding: 1rem;
    width: max-content;
    max-width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fafafa;
}
.inputdiv .icon{
    width: 2rem;
    height: 2rem;
}
.viewcoments{
    /* background-color: rosybrown; */
    overflow-y: auto;
    height: 80%;
}
.comments-modal .head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(27, 31, 35, 0.20);
    height: 10%;
}
.inputdiv{
    /* background-color: salmon; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(27, 31, 35, 0.20);
}
.inputdiv input{
    /* outline: none; */
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    margin-right: .5rem;
    /* padding: .5rem; */
    /* width: 70%; */
}
.comments-modal button{
    background-color: #fff;
    color: #0998F6;
    font-weight: 700;
    border: none;
    outline: none;
}
.cmts-close{
    display: none;
}
@media (max-width: 1100px){
    .right-col, .search-box{
        display: none;
    }
    .nav-wrapper,
    .wrapper{
        width: 90%;
    }
    .wrapper{
        display: block;
    }
    .comments-modal{
        left: 5vw;
        width: 90vw;
    }
    .chat-div{
        margin: 15px 15px;
        width: 80%;
        /* margin: 15px 150px; */
    }
    .user-chats{
        height: calc(100vh- 135px);
    
     width: calc(100vw- 160px); 
    } 
    .parent-login{
        min-width: 30vw;
        height: auto;
        margin: 0;
        padding: .5rem;
    }
}
.drop-items{
    /* style={{cursor:"pointer",padding:"5px 0",display:"block",textAlign:"center"}} */
    cursor: pointer;
    padding: 5px 0;
    display: block;
    text-align: center;
}
.drop-items:hover{
    background-color: #ddd;
}
@media (max-width: 500px){
    .nav-items .icon{
        margin: 0 5px;
    }
    .post-image{
        height: 300px;
    }
    
    .chat-div{
        margin: 15px 15px;
    }
    .parent-login{
        min-width: 50vw !important;
        height: auto;
        margin: 0;
        padding: .5rem;
    }
}


/* chat ui design  */

.messages{
    max-height: 440px;
    overflow-y: auto;
}
.msg-wrapper {
    /* position: relative; */
    /* text-overflow:inherit; */
    /* overflow-y: auto;
    overflow-wrap: inherit; */
    /* height: calc(100vh - 180px); */
    /* overflow:hidden; */
    max-height: 350px;
    max-width: 590px;
    /* overflow-y:auto; */
    /* padding: 0 0.5rem; */
  }
  .msg-wrapper img {
    width: 100%;
    /* border: 5px solid gray; */
    height: 50%;
    padding: 0.5rem 0;
    display: flex;
    border-radius: 0.5rem;
  }
  /* .try{

      max-width: 50%;
    } */
    .try p{
        /* width: 50%; */
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-bottom: 0.2rem;
        max-width: 100%;
        overflow-wrap: break-word;
    }
    .my{
        border: 1px solid rgba(27, 31, 35, 0.10);
    }
    .there{
        border: 1px solid rgba(27, 31, 35, 0.10);
        background-color: #EFEFEF;
    }
    .msg-wrapper .try {
        
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
        /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
        /* overflow-wrap: break-word; */
        /* background-color: #0998F6; */
        /* overflow-x:hidden; */
        
        max-width: 50%;
        margin-top: 0.1rem;
    padding: 8px;
    display: inline-block;
    text-align: left;
    border-radius: 0.5rem;
}
  .msg-wrapper small {
      
      /* display: inline-block; */
      /* margin-top: 0.5rem; */
      opacity: 0.8;
    }
    .msg-wrapper.own {
        text-align: right;
    }
    .me {
        /* background-color: var(--color3); */
        /* From https://css.glass */
        /* background: rgba(62, 146, 204, 0.23); */
        border-radius: 16px;
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(10px); */
        /* -webkit-backdrop-filter: blur(10px); */
        /* border: 2px solid rgba(62, 146, 204, 1); */
        /* color: rgb(0, 0, 0); */
        color: #000;
    }
    .friend {
        /* background-color: whitesmoke; */
        /* background: rgba(216, 49, 91, 0.26); */
        border-radius: 16px;
        /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
        /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* border: 2px solid rgba(216, 49, 91, 0.99); */
    color: #000;
    /* background-color: aqua; */
  }
  .chat-div {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    background-color: #FFF;
    position: relative;
    margin: 15px 165px;
    display: grid;
    grid-template-columns: 1.7fr 3fr;
    column-gap: 0;
    /* overflow-y:scroll; */
    height: calc(100vh - 125px);
    width: calc(100vw- 330px);
    /* object-fit: contain; */
}

.owner-name {
    /* border-right: 1px solid rgb(202, 202, 202); */
    border-bottom: 1px solid rgb(202, 202, 202);
    /* background: #0095F6; */
    height: 60px;
    
}

.name{
    margin: 1rem;
    /* color: #ed4956; */
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
}

.user-chats{
    height: calc(100vh- 135px);

 width: calc(100vw- 160px); 
} 

.single-user {
    /* background-color: #3333; */
    margin: 2rem 0;
    padding-left: 2rem;
}

.single-user img {
    margin-right: .8rem;
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.img-name {
    display: flex;
    justify-content: space-between;
}

.img-name-msg {
    align-items: center;
    display: flex;
    min-width: 180px;
}

.online {
    margin: auto 0;
    margin-right: 1rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0998F6;
}

.chat-container {
    /* background: #0f0f0f;  */
    border-left: 1px solid rgb(202, 202, 202);
}

.chat-profile {
    /* background-color: #0095F6; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 60px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.chat-img-name {
    /* background-color: #8e8e8e; */
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
}

.chat-img-name small {
    /* background-color: #dbdbdb; */
    margin-bottom: .5rem;
    font-size: .5rem;
}

.chat-img-name p {
    /* margin: 10px 0; */
    margin: 0;
    padding: 0;
    /* background-color: #ed4956; */
    position: relative;
    font-weight: 600;
}

.chat-img-name img {
    margin-right: .8rem;
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

/* .input-button-container {} */

.input-button {
    margin: 0 1rem;
    position: absolute;
    width: 57%;
    border-radius: 40px;
    border: 1px solid rgba(27, 31, 35, 0.20);
    height: 45px;
    bottom: 20px;
    display: flex;
    background-color: #fff;
    align-items: center;
    /* right: 20px; */
}

.input-button input {
    outline: none;
    border: none;
    padding: 0;
    font-size: 1rem;
    margin: 0 1rem;
    width: 65%;
}

.input-button svg {
    margin: 0 .5rem;
}
.send-button{
    margin: 0;
    background: none;
    border: none;
    outline: none;
    color: #0998F6;
    font-size: .8rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: .5rem .5rem;
    border-radius: .5rem;
}
.send-button:hover{
    color: #FFF;
    background-color: #0998F6;
}
.messages {
    padding: 0 1rem;
    width: 100%;
    height: 78%;
    /* background-color: aqua; */
}
.liked {
    filter: invert(16%) sepia(76%) saturate(7445%) hue-rotate(359deg) brightness(104%) contrast(118%);
}

/* user profile design  */

.profile-container {
    margin: 0 160px;
}

.profile-header {
    /* background-color: #0998F6; */
    width: 100%;
    border-bottom: 1px solid rgba(27, 31, 35, 0.10);
}

.header-container {
    display: flex;
    margin: 30px 70px;
    margin-bottom: 40px;
}

.profile-header .user-profile {
    width: 150px;
    height: 150px;
    margin-right: 90px;
}

.profile-header .user-profile img {
    border-radius: 50%;
    border: 1px solid rgba(27, 31, 35, 0.10);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-header .user-details {
    /* background-color: rosybrown; */
    min-width: 310px;
}

.profile-header .user-details h1 {
    font-weight: 500;
}

.profile-header .user-details span {
    font-family: 'Montserrat';
}

.profile-header .user-details p {
    font-family: 'Montserrat';
    font-weight: bold;
}

.post-followers {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.profile-buttons {
    /* font-family: 'Montserrat'; */
    font-weight: bold;
    font-size: .8rem;
    height: 50px;
    width: 100%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
}

.profilebutton {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.user-posts {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: safe;
    flex-wrap: wrap;
}

.user-posts .post {
    margin: 0 .7rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-bottom: 2rem;
    width: 290px;
    height: 290px
}

.user-posts .post :hover {
    /* opacity: 0.5; */
    /* filter: grayscale(100%); */
    filter: brightness(60%);
}

.user-posts .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    top: 40px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}



/* loggin page design  */
.info-div{
    text-align: center;
}
.error-div{
    background-color: rgb(247, 216, 216);
    border:1px solid rgb(255, 100, 100);
    color: rgb(255, 100, 100);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.parent-login{
    
    width:30vw;
border:1px solid rgba(27, 31, 35, 0.20);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    padding: 1rem;
}
.form-div{
    padding: .5rem;
    
}
.form-div button{
    margin-top: .8rem;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    padding: .3rem;
    background-color: #0998F6;
    outline: none;
}
.form-div a{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
}
.form-div p{
    margin: 0;
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .2rem;
}
.form-div input{
width: 100%;
outline: none;
font-size: 1rem;
margin: .5rem 0 ;
padding: .4rem;
border: 1px solid #ddd;
border-radius: .2rem;
}
.logo-div{
    text-align: center;
}
.logo-div img{

    width: 70%;
    object-fit: cover;
}



/* loader css  */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.select_class{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
  /* loader 2 css  */
  